#outerc{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: yellow;
}

.innerc{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    margin-right: 0px;
    
}

#leye{
    margin: 0 2px 0 2px;
    position: relative;
    top: 113px;
    left: 65px;
}

#reye{
    margin: 0px 2px 0 2px;
    position: relative;
    top: 113px;
    left: 216px;
}

#smile{
    width: 200px;
    height: 50px;
    position: relative;
    top: 203px;
    left: 102px;
    background-color: rgb(163, 110, 13);
    border-bottom-left-radius: 400px;
    border-bottom-right-radius: 400px;
}

