div{
    height: 100px;
    width: 100px;
    background-color: #0acb10ff;
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 2s ease 0.2s;
}

div:hover{
    background-color: pink;
    /* border-radius: 50%; */
    margin-top: 400px;
}